:root {
    --background-color: #303446;
    --text-color: #c6d0f5;
    --button-background-color: #8caaee;
    --button-text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 100px;
}

input {
    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

button {
    padding: 10px 20px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
}
